* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Consolidated the header tag and changed it from a class to an element. Now it's semantic.*/

header {
    padding: 15px 20px 20px 20px;
    background-color: #2a607c;
    display: block;
    font-size: 48px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Changed unordered list to a nav. Now it's a semantic element and this is the appropriate tag for this kind of situation*/

nav, a{
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

/*Consolidated h1 so there wasn't duplicates*/

h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Changed this element from an h2 to and h4. Heading attributes now fall in sequencial order. Gave it a styling of font-size to match desired effect.*/

h4{
    font-size: 20px;
}

p {
    font-size: 16px;
    text-align:left;
}

div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Got rid of img duplicates and put it under one*/

img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    max-height: 200px;
}

/*Changed a class of "footer" to the footer element. Now it's semantic.*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

/*Consolidated code so there's no duplicates*/

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    max-height: 200px;
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    max-height: 200px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Changed all these from class to id because it is only selected once. Also consolidated so there was no dupliactes.*/

#seo{
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    margin-right: 0px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Needed to float the nav to get desired effect from mock up*/

#float-right-nav{
    float:right;
    margin-top: 20px;
}


#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    float: left;
}

#benefits {
    margin-right: 20px;
    margin-top: 13px;
    padding: 20px 45px 20px 20px;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    display: inline-block;
    
}

#benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    max-height: 200px;
    font-size: 36px;
}

/*Since I changed all the p tags to text-align:left, I needed to align this element specifically to the center*/ 

#footer-text-align{
    text-align: center;
    padding-top: 5px;
}



